@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.3;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0.3;
  }
}

@-webkit-keyframes motion {
  0% {
    position: absolute;
    top: 0;
  }
  100% {
    position: absolute;
    top: 10px;
  }
}

@keyframes motion {
  0% {
    position: absolute;
    top: 0;
  }
  100% {
    position: absolute;
    top: 10px;
  }
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

body #wrap {
  width: 100%;
  margin: 0 auto;
  font-family: 'Noto Sans KR';
}

body #wrap > header {
  width: 100%;
  height: 850px;
  background-color: #ebe9ff;
}

body #wrap > header > .bg {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #ebe9ff;
  text-indent: -9999px;
  opacity: 0.5;
  z-index: 1000;
}

body #wrap > header > .hd {
  position: fixed;
  width: 1280px;
  height: 70px;
  left: 50%;
  margin-left: -640px;
  z-index: 1000;
}

body #wrap > header > .hd > .logo {
  position: absolute;
  left: 0;
  top: 15px;
  width: 71px;
  height: 38px;
  background-image: url(./../images/logo.png);
}

body #wrap > header > .hd > .logo > a {
  display: block;
  text-indent: -9999px;
}

body #wrap > header > .hd > nav {
  position: absolute;
  left: 280px;
  top: 28px;
}

body #wrap > header > .hd > nav > .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 695px;
}

body #wrap > header > .hd > nav > .menu > li {
  font-size: 15px;
  font-weight: bold;
}

body #wrap > header > .hd > nav > .menu > li.on > a,
body #wrap > header > .hd > nav > .menu > li:hover > a {
  color: #a9a3f3;
}

body #wrap > header > .hd > nav > .menu > li > a {
  color: #454249;
}

body #wrap > header > .hd > .deco {
  display: block;
  position: absolute;
  right: 0;
  top: 30px;
  width: 40px;
  height: 11px;
  background-image: url(./../images/hdeco-1.png);
  text-indent: -9999px;
}

body #wrap > header > .visual {
  position: relative;
  width: 1280px;
  height: 850px;
  margin: 0 auto;
}

body #wrap > header > .visual > h2 {
  position: absolute;
  left: 50%;
  top: 375px;
  font-size: 40px;
  color: #454249;
  margin-left: 212px;
}

body #wrap > header > .visual > .deco-1 {
  display: block;
  position: absolute;
  left: 50%;
  top: 394px;
  width: 95px;
  height: 22px;
  margin-left: 316px;
  background-image: url(./../images/deco-1.png);
  background-size: cover;
  text-indent: -9999px;
}

body #wrap > header > .visual > .pic-1 {
  position: absolute;
  left: 50%;
  top: 156px;
  margin-left: -204px;
}

body #wrap > header > .visual > .pic-1 > img {
  display: block;
}

body #wrap > header > .visual > .deco-2 {
  position: absolute;
  left: 50%;
  top: 179px;
  margin-left: -180px;
}

body #wrap > header > .visual > .deco-2 > img {
  display: block;
}

body #wrap > header > .visual > h3 {
  position: absolute;
  right: -44px;
  top: 194px;
  font-size: 18px;
  color: #454249;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

body #wrap > header > .visual > .deco-3 {
  display: block;
  position: absolute;
  left: 0;
  top: 644px;
  width: 95px;
  height: 22px;
  background-image: url(./../images/deco-2.png);
  text-indent: -9999px;
}

body #wrap > header > .visual > h4 {
  position: absolute;
  left: 0;
  top: 678px;
  font-size: 18px;
  color: #454249;
}

body #wrap > header > .visual > h5 {
  position: absolute;
  right: 0;
  top: 678px;
  font-size: 18px;
  color: #bbb6f5;
}

body #wrap > header > .visual > .deco-4 {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url(./../images/decop-1.png);
  text-indent: -9999px;
  position: absolute;
  left: 230px;
  top: 211px;
  -webkit-animation: blink-1 2s infinite;
}

body #wrap > header > .visual > .deco-5 {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url(./../images/decop-1.png);
  text-indent: -9999px;
  position: absolute;
  left: 350px;
  top: 626px;
  -webkit-animation: blink-1 2.5s infinite;
}

body #wrap > header > .visual > .deco-6 {
  display: block;
  width: 35px;
  height: 35px;
  background-image: url(./../images/decop-1.png);
  text-indent: -9999px;
  position: absolute;
  left: 1060px;
  top: 321px;
  -webkit-animation: blink-1 2.2s infinite;
}

body #wrap > header > .visual > .deco-7 {
  display: block;
  position: absolute;
  left: 50%;
  top: 642px;
  width: 277px;
  height: 13px;
  margin-left: 100px;
  background-image: url(./../images/deco-3.png);
  text-indent: -9999px;
}

body #wrap > .aboutme {
  width: 100%;
  height: 785px;
  background-color: #fff;
}

body #wrap > .aboutme > .ab {
  position: relative;
  width: 1280px;
  height: 7850px;
  margin: 0 auto;
}

body #wrap > .aboutme > .ab > h2 {
  position: absolute;
  left: 50%;
  top: 140px;
  width: 132px;
  color: #454249;
  font-size: 25px;
  padding-bottom: 3px;
  border-bottom: 3px solid #bbb6f5;
  margin-left: -66px;
}

body #wrap > .aboutme > .ab > .pic-2 {
  position: absolute;
  left: 17px;
  top: 235px;
  width: 350px;
  height: 350px;
  z-index: 100;
}

body #wrap > .aboutme > .ab > .pic-2 > a {
  display: block;
  height: 350px;
}

body #wrap > .aboutme > .ab > .pic-2 > a > img {
  display: block;
  width: 100%;
}

body #wrap > .aboutme > .ab > .adeco-1 {
  display: block;
  position: absolute;
  left: 0;
  top: 218px;
  width: 384px;
  height: 384px;
  background-image: url(./../images/apicde.png);
  background-size: cover;
  text-indent: -9999px;
  -webkit-animation: blink-1 3s infinite;
}

body #wrap > .aboutme > .ab > .click {
  width: 120px;
  height: 100px;
  -webkit-animation: motion 0.3s linear 0s infinite alternate;
          animation: motion 0.3s linear 0s infinite alternate;
}

body #wrap > .aboutme > .ab > .click > .tri {
  display: block;
  position: absolute;
  left: 180px;
  top: 645px;
  width: 23px;
  height: 15px;
  background-image: url(./../images/abclick.png);
  text-indent: -9999px;
}

body #wrap > .aboutme > .ab > .click > .here {
  position: absolute;
  left: 140px;
  top: 665px;
  width: 110px;
  color: #bbb6f5;
  font-size: 18px;
}

body #wrap > .aboutme > .ab > .container {
  position: absolute;
  left: 619px;
  top: 285px;
}

body #wrap > .aboutme > .ab > .container > li {
  display: none;
  position: absolute;
  width: 480px;
  height: 220px;
  color: #454249;
  font-size: 18px;
  font-weight: 450;
  line-height: 32px;
}

body #wrap > .aboutme > .ab > .container > li.on {
  display: block;
}

body #wrap > .aboutme > .ab > .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 0;
  top: 285px;
  width: 114px;
}

body #wrap > .aboutme > .ab > .pagination > li {
  width: 28px;
  background-size: cover;
}

body #wrap > .aboutme > .ab > .pagination > li:nth-child(1) {
  background-image: url(./../images/abnom-1.png);
}

body #wrap > .aboutme > .ab > .pagination > li:nth-child(2) {
  background-image: url(./../images/abnom-2.png);
}

body #wrap > .aboutme > .ab > .pagination > li:nth-child(3) {
  background-image: url(./../images/abnom-3.png);
}

body #wrap > .aboutme > .ab > .pagination > li:nth-child(1).on > a,
body #wrap > .aboutme > .ab > .pagination > li:nth-child(1):hover > a {
  background-image: url(./../images/denom-1.png);
  background-size: cover;
}

body #wrap > .aboutme > .ab > .pagination > li:nth-child(2).on > a,
body #wrap > .aboutme > .ab > .pagination > li:nth-child(2):hover > a {
  background-image: url(./../images/denom-2.png);
  background-size: cover;
}

body #wrap > .aboutme > .ab > .pagination > li:nth-child(3).on > a,
body #wrap > .aboutme > .ab > .pagination > li:nth-child(3):hover > a {
  background-image: url(./../images/denom-3.png);
  background-size: cover;
}

body #wrap > .aboutme > .ab > .pagination > li > a {
  display: block;
  height: 28px;
  text-indent: -9999px;
}

body #wrap > .aboutme > .ab > .hobby {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 619px;
  top: 560px;
  width: 642px;
}

body #wrap > .aboutme > .ab > .hobby > li {
  color: #65616b;
  font-size: 16px;
}

body #wrap > .aboutme2 {
  width: 100%;
  height: 670px;
  background-color: #fff;
}

body #wrap > .aboutme2 > .ab2 {
  position: relative;
  width: 1280px;
  height: 670px;
  margin: 0 auto;
}

body #wrap > .aboutme2 > .ab2 > h2 {
  position: absolute;
  left: 100px;
  top: 275px;
  color: #bbb6f5;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

body #wrap > .aboutme2 > .ab2 > .tri2 {
  display: block;
  position: absolute;
  left: 350px;
  top: 280px;
  width: 25px;
  height: 39px;
  background-image: url(./../images/abclick-2.png);
  text-indent: -9999px;
}

body #wrap > .aboutme2 > .ab2 > .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  right: 100px;
  top: 80px;
  width: 669px;
}

body #wrap > .aboutme2 > .ab2 > .icon > li {
  width: 135px;
  height: 135px;
  background-size: cover;
  text-indent: -9999px;
}

body #wrap > .aboutme2 > .ab2 > .icon > li:nth-child(1) {
  margin-bottom: 20px;
  background-image: url(./../images/program-1.png);
}

body #wrap > .aboutme2 > .ab2 > .icon > li:nth-child(2) {
  margin-bottom: 20px;
  background-image: url(./../images/program-7.png);
}

body #wrap > .aboutme2 > .ab2 > .icon > li:nth-child(3) {
  margin-bottom: 20px;
  background-image: url(./../images/program-4.png);
}

body #wrap > .aboutme2 > .ab2 > .icon > li:nth-child(4) {
  margin-bottom: 20px;
  background-image: url(./../images/program-10.png);
}

body #wrap > .aboutme2 > .ab2 > .icon > li:nth-child(5) {
  margin-bottom: 20px;
  background-image: url(./../images/program-2.png);
}

body #wrap > .aboutme2 > .ab2 > .icon > li:nth-child(6) {
  margin-bottom: 20px;
  background-image: url(./../images/program-8.png);
}

body #wrap > .aboutme2 > .ab2 > .icon > li:nth-child(7) {
  margin-bottom: 20px;
  background-image: url(./../images/program-5.png);
}

body #wrap > .aboutme2 > .ab2 > .icon > li:nth-child(8) {
  margin-bottom: 20px;
  background-image: url(./../images/program-11.png);
}

body #wrap > .aboutme2 > .ab2 > .icon > li:nth-child(9) {
  margin-bottom: 20px;
  background-image: url(./../images/program-3.png);
}

body #wrap > .aboutme2 > .ab2 > .icon > li:nth-child(10) {
  margin-bottom: 20px;
  background-image: url(./../images/program-9.png);
}

body #wrap > .aboutme2 > .ab2 > .icon > li:nth-child(11) {
  margin-bottom: 20px;
  background-image: url(./../images/program-6.png);
}

body #wrap > .aboutme2 > .ab2 > .icon > li:nth-child(12) {
  margin-bottom: 20px;
  background-image: url(./../images/program-12.png);
}

body #wrap > .portfolio {
  position: relative;
  width: 100%;
  height: 1745px;
}

body #wrap > .portfolio > .pfbg {
  width: 100%;
  height: 1745px;
  background-image: url(./../images/pofolbg.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -9999px;
}

body #wrap > .portfolio > .pofol {
  position: absolute;
  left: 50%;
  top: 0;
  width: 1280px;
  height: 1745px;
  margin: 0 auto;
  margin-left: -640px;
}

body #wrap > .portfolio > .pofol > h2 {
  position: absolute;
  left: 50%;
  top: 140px;
  width: 144px;
  color: #454249;
  font-size: 25px;
  padding-bottom: 3px;
  border-bottom: 3px solid #bbb6f5;
  margin-left: -72px;
}

body #wrap > .portfolio > .pofol > .scr {
  display: block;
  position: absolute;
  left: 427px;
  top: 180px;
  padding-top: 60px;
  text-indent: -9999px;
}

body #wrap > .portfolio > .pofol > .scr > span {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 33px;
  height: 53px;
  margin-left: -11.5px;
  background-image: url(./../images/scroll.png);
  background-size: cover;
  -webkit-animation: motion 0.4s linear 0s infinite alternate;
          animation: motion 0.4s linear 0s infinite alternate;
}

body #wrap > .portfolio > .pofol > .scr > span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -2.5px;
  background-color: #454249;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #wrap > .portfolio > .pofol > .scr > span::after {
  position: absolute;
  bottom: -18px;
  left: 50%;
  width: 18px;
  height: 18px;
  content: '';
  margin-left: -8.5px;
  border-left: 1px solid #454249;
  border-bottom: 1px solid #454249;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #wrap > .portfolio > .pofol > .com {
  position: absolute;
  left: 50%;
  top: 245px;
  width: 873px;
  height: 510px;
  margin-left: -655px;
}

body #wrap > .portfolio > .pofol > .com > img {
  display: block;
  width: 100%;
}

body #wrap > .portfolio > .pofol > .view {
  position: absolute;
  left: 78px;
  top: 283px;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 692px;
  height: 434px;
}

body #wrap > .portfolio > .pofol > .view > p {
  width: 692px;
  height: 3550px;
  background-image: url(./../images/mk-com.png);
  background-size: cover;
  text-indent: -9999px;
}

body #wrap > .portfolio > .pofol .view::-webkit-scrollbar {
  display: none;
}

body #wrap > .portfolio > .pofol > h3 {
  position: absolute;
  left: 863px;
  top: 320px;
  color: #454249;
  font-size: 30px;
}

body #wrap > .portfolio > .pofol > .pftxt {
  position: absolute;
  left: 863px;
  top: 400px;
  color: #454249;
  font-size: 18px;
  line-height: 30px;
}

body #wrap > .portfolio > .pofol > .wbtn {
  position: absolute;
  left: 863px;
  top: 640px;
  display: block;
  width: 180px;
  height: 46px;
  color: #454249;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 0 #454249;
          box-shadow: inset 0 0 0 0 #454249;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background-color: #bbb6f5;
  border: 1px solid #bbb6f5;
}

body #wrap > .portfolio > .pofol > .wbtn:hover {
  color: #ebe9ff;
  -webkit-box-shadow: inset 180px 0 0 0 #454249;
          box-shadow: inset 180px 0 0 0 #454249;
}

body #wrap > .portfolio > .pofol > .pfm-shadow {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

body #wrap > .portfolio > .pofol > .pfm-shadow > .pfm-lightbox {
  overflow: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 950px;
  height: 600px;
  margin: -280px 0 0 -475px;
  border: 1px solid #bbb6f5;
}

body #wrap > .portfolio > .pofol > .pfm-shadow > .pfm-lightbox > img {
  display: block;
  width: 100%;
}

body #wrap > .portfolio > .pofol > .sbtn {
  position: absolute;
  left: 1063px;
  top: 640px;
  display: block;
  width: 180px;
  height: 46px;
  color: #454249;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 0 #454249;
          box-shadow: inset 0 0 0 0 #454249;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background-color: #bbb6f5;
  border: 1px solid #bbb6f5;
}

body #wrap > .portfolio > .pofol > .sbtn:hover {
  color: #ebe9ff;
  -webkit-box-shadow: inset 180px 0 0 0 #454249;
          box-shadow: inset 180px 0 0 0 #454249;
}

body #wrap > .portfolio > .pofol > .pf {
  position: absolute;
  top: 977px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1280px;
}

body #wrap > .portfolio > .pofol > .pf > .cont1 {
  position: relative;
  width: 384px;
  height: 688px;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 20px 0 rgba(187, 182, 245, 0.2);
          box-shadow: 0 7px 20px 0 rgba(187, 182, 245, 0.2);
}

body #wrap > .portfolio > .pofol > .pf > .cont1 > dl {
  position: absolute;
  left: 48px;
  top: 70px;
}

body #wrap > .portfolio > .pofol > .pf > .cont1 > dl > dt {
  color: #454249;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 36px;
}

body #wrap > .portfolio > .pofol > .pf > .cont1 > dl > dd {
  color: #65616b;
  font-size: 16px;
  line-height: 24px;
}

body #wrap > .portfolio > .pofol > .pf > .cont1 > dl > dd:nth-child(3) {
  color: #ccc;
  font-size: 13px;
  padding-top: 20px;
}

body #wrap > .portfolio > .pofol > .pf > .cont1 > .wbtn2 {
  position: absolute;
  left: 49px;
  top: 295px;
  display: block;
  width: 180px;
  height: 46px;
  color: #454249;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 0 #454249;
          box-shadow: inset 0 0 0 0 #454249;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background-color: #ebe9ff;
  border: 1px solid #ebe9ff;
}

body #wrap > .portfolio > .pofol > .pf > .cont1 > .wbtn2:hover {
  color: #ebe9ff;
  -webkit-box-shadow: inset 180px 0 0 0 #454249;
          box-shadow: inset 180px 0 0 0 #454249;
}

body #wrap > .portfolio > .pofol > .pf > .cont1 > .pfs-shadow {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

body #wrap > .portfolio > .pofol > .pf > .cont1 > .pfs-shadow > .pfs-lightbox {
  overflow: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 950px;
  height: 600px;
  margin: -280px 0 0 -475px;
  border: 1px solid #bbb6f5;
}

body #wrap > .portfolio > .pofol > .pf > .cont1 > .pfs-shadow > .pfs-lightbox > img {
  display: block;
  width: 100%;
}

body #wrap > .portfolio > .pofol > .pf > .cont1 > .simg {
  position: absolute;
  left: 0;
  top: 380px;
  width: 321px;
  background-image: url(./../images/pfsite-1.png);
}

body #wrap > .portfolio > .pofol > .pf > .cont1 > .simg > a {
  display: block;
  height: 192px;
  text-indent: -9999px;
}

body #wrap > .portfolio > .pofol > .pf > .cont1 > .sbtn2 {
  display: block;
  position: absolute;
  right: 0;
  bottom: 80px;
  width: 194px;
  height: 65px;
  color: #ebe9ff;
  font-size: 18px;
  line-height: 65px;
  text-align: center;
  background-color: #454249;
  border: 2px solid #454249;
}

body #wrap > .portfolio > .pofol > .pf > .cont1 > .sbtn2:hover {
  color: #a9a3f3;
  border: 2px solid #a9a3f3;
  background-color: #fff;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

body #wrap > .portfolio > .pofol > .pf > .cont2 {
  position: relative;
  width: 384px;
  height: 688px;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 20px 0 rgba(187, 182, 245, 0.2);
          box-shadow: 0 7px 20px 0 rgba(187, 182, 245, 0.2);
}

body #wrap > .portfolio > .pofol > .pf > .cont2 > dl {
  position: absolute;
  left: 48px;
  top: 70px;
}

body #wrap > .portfolio > .pofol > .pf > .cont2 > dl > dt {
  color: #454249;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 36px;
}

body #wrap > .portfolio > .pofol > .pf > .cont2 > dl > dd {
  color: #65616b;
  font-size: 16px;
  line-height: 24px;
}

body #wrap > .portfolio > .pofol > .pf > .cont2 > dl > dd:nth-child(3) {
  color: #ccc;
  font-size: 13px;
  padding-top: 20px;
}

body #wrap > .portfolio > .pofol > .pf > .cont2 > .wbtn2 {
  position: absolute;
  left: 49px;
  top: 295px;
  display: block;
  width: 180px;
  height: 46px;
  color: #454249;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 0 #454249;
          box-shadow: inset 0 0 0 0 #454249;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background-color: #ebe9ff;
  border: 1px solid #ebe9ff;
}

body #wrap > .portfolio > .pofol > .pf > .cont2 > .wbtn2:hover {
  color: #ebe9ff;
  -webkit-box-shadow: inset 180px 0 0 0 #454249;
          box-shadow: inset 180px 0 0 0 #454249;
}

body #wrap > .portfolio > .pofol > .pf > .cont2 > .pfj-shadow {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

body #wrap > .portfolio > .pofol > .pf > .cont2 > .pfj-shadow > .pfj-lightbox {
  overflow: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 950px;
  height: 600px;
  margin: -280px 0 0 -475px;
  border: 1px solid #bbb6f5;
}

body #wrap > .portfolio > .pofol > .pf > .cont2 > .pfj-shadow > .pfj-lightbox > img {
  display: block;
  width: 100%;
}

body #wrap > .portfolio > .pofol > .pf > .cont2 > .simg {
  position: absolute;
  left: 0;
  top: 380px;
  width: 321px;
  background-image: url(./../images/pfsite-2.png);
}

body #wrap > .portfolio > .pofol > .pf > .cont2 > .simg > a {
  display: block;
  height: 192px;
  text-indent: -9999px;
}

body #wrap > .portfolio > .pofol > .pf > .cont2 > .sbtn2 {
  display: block;
  position: absolute;
  right: 0;
  bottom: 80px;
  width: 194px;
  height: 65px;
  color: #ebe9ff;
  font-size: 18px;
  line-height: 65px;
  text-align: center;
  background-color: #454249;
  border: 2px solid #454249;
}

body #wrap > .portfolio > .pofol > .pf > .cont2 > .sbtn2:hover {
  color: #a9a3f3;
  border: 2px solid #a9a3f3;
  background-color: #fff;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

body #wrap > .portfolio > .pofol > .pf > .cont3 {
  position: relative;
  width: 384px;
  height: 688px;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 20px 0 rgba(187, 182, 245, 0.2);
          box-shadow: 0 7px 20px 0 rgba(187, 182, 245, 0.2);
}

body #wrap > .portfolio > .pofol > .pf > .cont3 > dl {
  position: absolute;
  left: 48px;
  top: 70px;
}

body #wrap > .portfolio > .pofol > .pf > .cont3 > dl > dt {
  color: #454249;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 36px;
}

body #wrap > .portfolio > .pofol > .pf > .cont3 > dl > dd {
  color: #65616b;
  font-size: 16px;
  line-height: 24px;
}

body #wrap > .portfolio > .pofol > .pf > .cont3 > dl > dd:nth-child(3) {
  color: #ccc;
  font-size: 13px;
  padding-top: 44px;
}

body #wrap > .portfolio > .pofol > .pf > .cont3 > .wbtn2 {
  position: absolute;
  left: 49px;
  top: 295px;
  display: block;
  width: 180px;
  height: 46px;
  color: #454249;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 0 #454249;
          box-shadow: inset 0 0 0 0 #454249;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background-color: #ebe9ff;
  border: 1px solid #ebe9ff;
}

body #wrap > .portfolio > .pofol > .pf > .cont3 > .wbtn2:hover {
  color: #ebe9ff;
  -webkit-box-shadow: inset 180px 0 0 0 #454249;
          box-shadow: inset 180px 0 0 0 #454249;
}

body #wrap > .portfolio > .pofol > .pf > .cont3 > .pfk-shadow {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

body #wrap > .portfolio > .pofol > .pf > .cont3 > .pfk-shadow > .pfk-lightbox {
  overflow: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 950px;
  height: 600px;
  margin: -280px 0 0 -475px;
  border: 1px solid #bbb6f5;
}

body #wrap > .portfolio > .pofol > .pf > .cont3 > .pfk-shadow > .pfk-lightbox > img {
  display: block;
  width: 100%;
}

body #wrap > .portfolio > .pofol > .pf > .cont3 > .simg {
  position: absolute;
  left: 0;
  top: 380px;
  width: 321px;
  background-image: url(./../images/pfsite-3.png);
}

body #wrap > .portfolio > .pofol > .pf > .cont3 > .simg > a {
  display: block;
  height: 192px;
  text-indent: -9999px;
}

body #wrap > .portfolio > .pofol > .pf > .cont3 > .sbtn2 {
  display: block;
  position: absolute;
  right: 0;
  bottom: 80px;
  width: 194px;
  height: 65px;
  color: #ebe9ff;
  font-size: 18px;
  line-height: 65px;
  text-align: center;
  background-color: #454249;
  border: 2px solid #454249;
}

body #wrap > .portfolio > .pofol > .pf > .cont3 > .sbtn2:hover {
  color: #a9a3f3;
  border: 2px solid #a9a3f3;
  background-color: #fff;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

body #wrap > .design1 {
  width: 100%;
  height: 1682px;
  color: #454249;
  background-color: #fff;
}

body #wrap > .design1 > .de {
  position: relative;
  width: 1280px;
  height: 1682px;
  margin: 0 auto;
}

body #wrap > .design1 > .de > h2 {
  position: absolute;
  left: 50%;
  top: 140px;
  width: 94px;
  color: #454249;
  font-size: 25px;
  padding-bottom: 3px;
  border-bottom: 3px solid #bbb6f5;
  margin-left: -47px;
}

body #wrap > .design1 > .de > h3 {
  position: absolute;
  left: 0;
  top: 252px;
  font-size: 25px;
}

body #wrap > .design1 > .de > .detxt {
  position: absolute;
  left: 0;
  top: 300px;
  font-size: 17px;
  line-height: 23px;
}

body #wrap > .design1 > .de > .de-nom {
  position: absolute;
  left: 0;
  top: 440px;
}

body #wrap > .design1 > .de > .de-nom > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

body #wrap > .design1 > .de > .de-nom > li:nth-child(1) {
  margin-bottom: 110px;
}

body #wrap > .design1 > .de > .de-nom > li:nth-child(2) {
  margin-bottom: 70px;
}

body #wrap > .design1 > .de > .de-nom > li > span {
  display: block;
  width: 26px;
  height: 26px;
  padding-right: 6px;
}

body #wrap > .design1 > .de > .de-nom > li > span > img {
  display: block;
  width: 100%;
}

body #wrap > .design1 > .de > .nomtxt {
  position: absolute;
  left: 32px;
  top: 472px;
}

body #wrap > .design1 > .de > .nomtxt > li {
  color: #65616b;
  font-size: 16px;
}

body #wrap > .design1 > .de > .nomtxt > li:nth-child(1) {
  margin-bottom: 60px;
}

body #wrap > .design1 > .de > .nomtxt > li:nth-child(2) {
  margin-bottom: 58px;
}

body #wrap > .design1 > .de > .mob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 0;
  top: 240px;
  width: 890px;
}

body #wrap > .design1 > .de > .mob > li {
  width: 310px;
  height: 532px;
  background-size: cover;
  text-indent: -9999px;
}

body #wrap > .design1 > .de > .mob > li:nth-child(1) {
  background-image: url(./../images/maketphone-2.png);
}

body #wrap > .design1 > .de > .mob > li:nth-child(2) {
  background-image: url(./../images/maketphone-3.png);
}

body #wrap > .design1 > .de > .mob > li:nth-child(3) {
  background-image: url(./../images/maketphone-4.png);
}

body #wrap > .design1 > .de > .mob2 > .mb1 {
  position: absolute;
  left: 0;
  top: 890px;
  width: 580px;
  height: 369px;
}

body #wrap > .design1 > .de > .mob2 > .mb1 > img {
  display: block;
  width: 100%;
}

body #wrap > .design1 > .de > .mob2 > .mb2 {
  position: absolute;
  left: -28px;
  bottom: 160px;
  width: 580px;
  height: 369px;
}

body #wrap > .design1 > .de > .mob2 > .mb2 > img {
  display: block;
  width: 100%;
}

body #wrap > .design1 > .de > .mob2 > .mb3 {
  position: absolute;
  left: 410px;
  bottom: 185px;
  width: 580px;
  height: 369px;
}

body #wrap > .design1 > .de > .mob2 > .mb3 > img {
  display: block;
  width: 100%;
}

body #wrap > .design1 > .de > .mob2 > .mb4 {
  position: absolute;
  left: 440px;
  top: 870px;
  width: 580px;
  height: 369px;
}

body #wrap > .design1 > .de > .mob2 > .mb4 > img {
  display: block;
  width: 100%;
}

body #wrap > .design1 > .de > .mou-1 {
  display: block;
  position: absolute;
  left: 120px;
  bottom: 550px;
  width: 350px;
  height: 150px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  text-indent: -9999px;
  z-index: 100;
}

body #wrap > .design1 > .de > .mou-2 {
  display: block;
  position: absolute;
  left: 80px;
  bottom: 280px;
  width: 350px;
  height: 150px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  text-indent: -9999px;
  z-index: 100;
}

body #wrap > .design1 > .de > .mou-3 {
  display: block;
  position: absolute;
  right: 370px;
  bottom: 560px;
  width: 350px;
  height: 150px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  text-indent: -9999px;
  z-index: 100;
}

body #wrap > .design1 > .de > .mou-4 {
  display: block;
  position: absolute;
  right: 400px;
  bottom: 300px;
  width: 350px;
  height: 150px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  text-indent: -9999px;
  z-index: 100;
}

body #wrap > .design1 > .de > .mbinq > .min1 {
  display: none;
  position: absolute;
  left: 220px;
  top: 880px;
}

body #wrap > .design1 > .de > .mbinq > .min2 {
  display: none;
  position: absolute;
  left: 280px;
  bottom: 150px;
}

body #wrap > .design1 > .de > .mbinq > .min3 {
  display: none;
  position: absolute;
  left: 845px;
  bottom: 568px;
}

body #wrap > .design1 > .de > .mbinq > .min4 {
  display: none;
  position: absolute;
  left: 830px;
  bottom: 358px;
}

body #wrap > .design1 > .de > .mbtxt1 {
  display: none;
  position: absolute;
  left: 280px;
  top: 870px;
}

body #wrap > .design1 > .de > .mbtxt1 > dt {
  color: #bbb6f5;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}

body #wrap > .design1 > .de > .mbtxt1 > dd {
  color: #65616b;
  font-size: 15px;
}

body #wrap > .design1 > .de > .mbtxt2 {
  display: none;
  position: absolute;
  left: 340px;
  bottom: 103px;
}

body #wrap > .design1 > .de > .mbtxt2 > dt {
  color: #bbb6f5;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}

body #wrap > .design1 > .de > .mbtxt2 > dd {
  color: #65616b;
  font-size: 15px;
}

body #wrap > .design1 > .de > .mbtxt3 {
  display: none;
  position: absolute;
  left: 1006px;
  bottom: 508px;
}

body #wrap > .design1 > .de > .mbtxt3 > dt {
  color: #bbb6f5;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}

body #wrap > .design1 > .de > .mbtxt3 > dd {
  color: #65616b;
  font-size: 15px;
}

body #wrap > .design1 > .de > .mbtxt4 {
  display: none;
  position: absolute;
  left: 990px;
  bottom: 317px;
}

body #wrap > .design1 > .de > .mbtxt4 > dt {
  color: #bbb6f5;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 6px;
}

body #wrap > .design1 > .de > .mbtxt4 > dd {
  color: #65616b;
  font-size: 15px;
}

body #wrap > .design1 > .de > .color {
  position: absolute;
  right: 0;
  top: 840px;
  text-align: right;
}

body #wrap > .design1 > .de > .color > dt {
  color: #454249;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 8px;
}

body #wrap > .design1 > .de > .color > dd {
  color: #65616b;
  font-size: 16px;
}

body #wrap > .design1 > .de > .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 0;
  top: 930px;
  width: 170px;
}

body #wrap > .design1 > .de > .col > li {
  width: 50px;
  height: 50px;
  text-indent: -9999px;
}

body #wrap > .design1 > .de > .col > li:nth-child(1) {
  background-color: #f6f6f6;
}

body #wrap > .design1 > .de > .col > li:nth-child(2) {
  background-color: #865eb4;
}

body #wrap > .design1 > .de > .col > li:nth-child(3) {
  background-color: #5f0080;
}

body #wrap > .design2 {
  height: 593px;
  background-color: #fff;
}

body #wrap > .design2 > .de2 {
  position: relative;
  width: 1280px;
  height: 593px;
  margin: 0 auto;
}

body #wrap > .design2 > .de2 > p {
  position: absolute;
  left: 50%;
  top: 0;
  width: 240px;
  color: #999;
  font-size: 18px;
  margin-left: -120px;
}

body #wrap > .design2 > .de2 > .d-1 {
  display: block;
  position: absolute;
  left: 0;
  top: 80px;
  width: 310px;
  height: 433px;
  background-image: url(./../images/salady-banner.png);
  background-size: cover;
  text-indent: -9999px;
}

body #wrap > .design2 > .de2 > .d-1-shadow {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

body #wrap > .design2 > .de2 > .d-1-shadow > .d-1-lightbox {
  overflow: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 435px;
  height: 600px;
  margin: -280px 0 0 -217px;
  border: 1px solid #bbb6f5;
}

body #wrap > .design2 > .de2 > .d-1-shadow > .d-1-lightbox > img {
  display: block;
  width: 100%;
}

body #wrap > .design2 > .de2 > .d-2 {
  display: block;
  position: absolute;
  left: 320px;
  top: 80px;
  width: 310px;
  height: 433px;
  background-image: url(./../images/toner-1.png);
  background-size: cover;
  text-indent: -9999px;
}

body #wrap > .design2 > .de2 > .d-2-shadow {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

body #wrap > .design2 > .de2 > .d-2-shadow > .d-2-lightbox {
  overflow: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 500px;
  height: 600px;
  margin: -280px 0 0 -250px;
  border: 1px solid #bbb6f5;
}

body #wrap > .design2 > .de2 > .d-2-shadow > .d-2-lightbox > img {
  display: block;
  width: 100%;
}

body #wrap > .design2 > .de2 > .d-3 {
  display: block;
  position: absolute;
  right: 0;
  top: 80px;
  width: 640px;
  height: 211px;
  background-image: url(./../images/daniel-banner.png);
  background-color: #eee;
  background-size: cover;
  text-indent: -9999px;
}

body #wrap > .design2 > .de2 > .d-3-shadow {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

body #wrap > .design2 > .de2 > .d-3-shadow > .d-3-lightbox {
  overflow: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 1100px;
  height: 374px;
  margin: -187px 0 0 -550px;
  border: 1px solid #bbb6f5;
}

body #wrap > .design2 > .de2 > .d-3-shadow > .d-3-lightbox > img {
  display: block;
  width: 100%;
}

body #wrap > .design2 > .de2 > .d-4 {
  display: block;
  position: absolute;
  right: 432px;
  bottom: 80px;
  width: 206px;
  height: 211px;
  background-image: url(./../images/mirta_banner.png);
  background-color: #eee;
  background-size: cover;
  text-indent: -9999px;
}

body #wrap > .design2 > .de2 > .d-4-shadow {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

body #wrap > .design2 > .de2 > .d-4-shadow > .d-4-lightbox {
  overflow: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 586px;
  height: 600px;
  margin: -280px 0 0 -293px;
  border: 1px solid #bbb6f5;
}

body #wrap > .design2 > .de2 > .d-4-shadow > .d-4-lightbox > img {
  display: block;
  width: 100%;
}

body #wrap > .design2 > .de2 > .d-5 {
  display: block;
  position: absolute;
  right: 216px;
  bottom: 80px;
  width: 206px;
  height: 211px;
  background-image: url(./../images/att_banner.png);
  background-color: #eee;
  background-size: cover;
  text-indent: -9999px;
}

body #wrap > .design2 > .de2 > .d-5-shadow {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

body #wrap > .design2 > .de2 > .d-5-shadow > .d-5-lightbox {
  overflow: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 586px;
  height: 600px;
  margin: -280px 0 0 -293px;
  border: 1px solid #bbb6f5;
}

body #wrap > .design2 > .de2 > .d-5-shadow > .d-5-lightbox > img {
  display: block;
  width: 100%;
}

body #wrap > .design2 > .de2 > .d-6 {
  display: block;
  position: absolute;
  right: 0;
  bottom: 80px;
  width: 206px;
  height: 211px;
  background-image: url(./../images/toner-event_banner.png);
  background-color: #eee;
  background-size: cover;
  border: 1px solid #d2e9bf;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-indent: -9999px;
}

body #wrap > .design2 > .de2 > .d-6-shadow {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

body #wrap > .design2 > .de2 > .d-6-shadow > .d-6-lightbox {
  overflow: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 586px;
  height: 600px;
  margin: -280px 0 0 -293px;
  border: 1px solid #bbb6f5;
}

body #wrap > .design2 > .de2 > .d-6-shadow > .d-6-lightbox > img {
  display: block;
  width: 100%;
}

body #wrap > .uiux {
  height: 762px;
}

body #wrap > .uiux > .uiuxt {
  position: relative;
  width: 1280px;
  height: 762px;
  margin: 0 auto;
}

body #wrap > .uiux > .uiuxt > h2 {
  position: absolute;
  left: 50%;
  top: 140px;
  width: 70px;
  margin-left: -35px;
  color: #454249;
  font-size: 25px;
  padding-bottom: 3px;
  border-bottom: 3px solid #bbb6f5;
}

body #wrap > .uiux > .uiuxt > h3 {
  position: absolute;
  left: 0;
  top: 245px;
  color: #454249;
  font-size: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid #bbb6f5;
}

body #wrap > .uiux > .uiuxt > .uiuxtxt {
  position: absolute;
  left: 0;
  top: 318px;
  color: #65616b;
  font-size: 17px;
  line-height: 28px;
}

body #wrap > .uiux > .uiuxt > .uiux-nom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  top: 584px;
  width: 458px;
}

body #wrap > .uiux > .uiuxt > .uiux-nom > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #454249;
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
}

body #wrap > .uiux > .uiuxt > .uiux-nom > li > span {
  display: block;
  width: 27px;
  height: 27px;
  margin-right: 7px;
}

body #wrap > .uiux > .uiuxt > .uiux-nom > li > span > img {
  display: block;
  width: 100%;
}

body #wrap > .uiux > .uiuxt > .uinom-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 34px;
  bottom: 80px;
}

body #wrap > .uiux > .uiuxt > .uinom-txt > li {
  color: #65616b;
  font-size: 15px;
  line-height: 21px;
}

body #wrap > .uiux > .uiuxt > .uinom-txt > li:nth-child(1) {
  margin-right: 42px;
}

body #wrap > .uiux > .uiuxt > .uiux-deco {
  position: absolute;
  right: 0;
  top: 245px;
  width: 40px;
  height: 11px;
  background-image: url(./../images/uxuideco.png);
  text-indent: -9999px;
}

body #wrap > .uiux > .uiuxt > .uxuicir {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 620px;
  height: 498px;
  background-image: url(./../images/uxuicir.png);
  text-indent: -9999px;
  opacity: 0.5;
}

body #wrap > .uiux > .uiuxt > .uiux-p {
  position: absolute;
  right: 160px;
  bottom: 0;
  width: 293px;
  height: 452px;
  background-image: url(./../images/uxuiphone.png);
  background-size: cover;
  text-indent: -9999px;
}

body #wrap > .project1 {
  height: 985px;
  background-color: #ebe9ff;
}

body #wrap > .project1 > .pj1 {
  position: relative;
  width: 1280px;
  height: 985px;
  margin: 0 auto;
}

body #wrap > .project1 > .pj1 > h2 {
  position: absolute;
  left: 50%;
  top: 140px;
  width: 112px;
  color: #454249;
  font-size: 25px;
  padding-bottom: 3px;
  border-bottom: 3px solid #bbb6f5;
  margin-left: -56px;
}

body #wrap > .project1 > .pj1 > .pj-phone {
  position: absolute;
  left: 138px;
  top: 216px;
  width: 415px;
  height: 741px;
  background-image: url(./../images/pj-1.png);
  text-indent: -9999px;
}

body #wrap > .project1 > .pj1 > h3 {
  position: absolute;
  left: 639px;
  top: 332px;
  color: #454249;
  font-size: 16px;
  font-weight: 500;
}

body #wrap > .project1 > .pj1 > h4 {
  position: absolute;
  left: 639px;
  top: 368px;
  color: #454249;
  font-size: 22px;
}

body #wrap > .project1 > .pj1 > .pj-txt1 {
  position: absolute;
  left: 639px;
  bottom: 410px;
  color: #65616b;
  font-size: 17px;
  line-height: 24px;
}

body #wrap > .project1 > .pj1 > .pj-txt2 {
  position: absolute;
  left: 639px;
  bottom: 280px;
  color: #65616b;
  font-size: 17px;
  line-height: 24px;
}

body #wrap > .project1 > .pj1 > .pjbtn {
  position: absolute;
  left: 639px;
  bottom: 175px;
  display: block;
  width: 180px;
  height: 46px;
  color: #454249;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 0 0 #454249;
          box-shadow: inset 0 0 0 0 #454249;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
  background-color: #bbb6f5;
  border: 1px solid #bbb6f5;
}

body #wrap > .project1 > .pj1 > .pjbtn:hover {
  color: #ebe9ff;
  -webkit-box-shadow: inset 180px 0 0 0 #454249;
          box-shadow: inset 180px 0 0 0 #454249;
}

body #wrap > .project1 > .pj1 > .pj-shadow {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

body #wrap > .project1 > .pj1 > .pj-shadow > .pj-lightbox {
  overflow: scroll;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 950px;
  height: 600px;
  margin: -280px 0 0 -475px;
  border: 1px solid #bbb6f5;
}

body #wrap > .project1 > .pj1 > .pj-shadow > .pj-lightbox > img {
  display: block;
  width: 100%;
}

body #wrap > .project2 {
  width: 100%;
  height: 1303px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./../images/de-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

body #wrap > .project2 > .pj2 {
  position: relative;
  width: 1280px;
  height: 1303px;
  margin: 0 auto;
}

body #wrap > .project2 > .pj2 > h2 {
  position: absolute;
  left: 0;
  top: 80px;
  width: 240px;
  color: #454249;
  font-size: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid #bbb6f5;
}

body #wrap > .project2 > .pj2 > h3 {
  position: absolute;
  left: 0;
  top: 155px;
  color: #65616b;
  font-size: 18px;
  font-weight: 400;
}

body #wrap > .project2 > .pj2 > .pj-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 105px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1280px;
}

body #wrap > .project2 > .pj2 > .pj-phone > li {
  width: 239px;
  height: 428px;
  text-indent: -9999px;
}

body #wrap > .project2 > .pj2 > .pj-phone > li:nth-child(1) {
  margin-bottom: 60px;
  background-image: url(./../images/phph-1.png);
}

body #wrap > .project2 > .pj2 > .pj-phone > li:nth-child(2) {
  background-image: url(./../images/phph-2.png);
}

body #wrap > .project2 > .pj2 > .pj-phone > li:nth-child(3) {
  background-image: url(./../images/phph-3.png);
}

body #wrap > .project2 > .pj2 > .pj-phone > li:nth-child(4) {
  background-image: url(./../images/phph-4.png);
}

body #wrap > .project2 > .pj2 > .pj-phone > li:nth-child(5) {
  background-image: url(./../images/phph-5.png);
}

body #wrap > .project2 > .pj2 > .pj-phone > li:nth-child(6) {
  background-image: url(./../images/phph-6.png);
}

body #wrap > .project2 > .pj2 > .pj-phone > li:nth-child(7) {
  background-image: url(./../images/phph-7.png);
}

body #wrap > .project2 > .pj2 > .pj-phone > li:nth-child(8) {
  background-image: url(./../images/phph-8.png);
}

body #wrap > .project2 > .pj2 > .pj-phone > li:nth-child(9) {
  background-image: url(./../images/phph-9.png);
}

body #wrap > .project2 > .pj2 > .pj-phone > li:nth-child(10) {
  background-image: url(./../images/phph-10.png);
}

body #wrap > .project2 > .pj2 > .pjp-txt > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  color: #65616b;
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
}

body #wrap > .project2 > .pj2 > .pjp-txt > li:nth-child(1) {
  left: 53px;
  bottom: 575px;
}

body #wrap > .project2 > .pj2 > .pjp-txt > li:nth-child(2) {
  left: 315px;
  bottom: 575px;
}

body #wrap > .project2 > .pj2 > .pjp-txt > li:nth-child(3) {
  left: 552px;
  bottom: 575px;
}

body #wrap > .project2 > .pj2 > .pjp-txt > li:nth-child(4) {
  left: 813px;
  bottom: 575px;
}

body #wrap > .project2 > .pj2 > .pjp-txt > li:nth-child(5) {
  right: 66px;
  bottom: 575px;
}

body #wrap > .project2 > .pj2 > .pjp-txt > li:nth-child(6) {
  left: 43px;
  bottom: 85px;
}

body #wrap > .project2 > .pj2 > .pjp-txt > li:nth-child(7) {
  left: 317px;
  bottom: 85px;
}

body #wrap > .project2 > .pj2 > .pjp-txt > li:nth-child(8) {
  left: 557px;
  bottom: 85px;
}

body #wrap > .project2 > .pj2 > .pjp-txt > li:nth-child(9) {
  right: 302px;
  bottom: 85px;
}

body #wrap > .project2 > .pj2 > .pjp-txt > li:nth-child(10) {
  right: 32px;
  bottom: 85px;
}

body #wrap > .project2 > .pj2 > .pjp-txt > li > span {
  display: block;
  width: 25px;
  height: 25px;
  padding-right: 5px;
}

body #wrap > .project2 > .pj2 > .pjp-txt > li > span > img {
  display: block;
  width: 100%;
}

body #wrap > .qna {
  position: relative;
  height: 745px;
}

body #wrap > .qna > .q-box {
  position: relative;
  width: 1280px;
  height: 745px;
  margin: 30px auto 0;
}

body #wrap > .qna > .q-box > h3 {
  position: absolute;
  left: 130px;
  top: 42px;
  width: 510px;
  height: 60px;
  color: #454249;
  font-size: 38px;
  font-weight: 600;
  line-height: 60px;
  border-right: 1px solid #bbb6f5;
}

body #wrap > .qna > .q-box > p {
  position: absolute;
  right: 150px;
  top: 50px;
  height: 60px;
  color: #65616b;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

body #wrap > .qna > .q-box > dl {
  position: absolute;
  left: 80px;
  top: 145px;
  width: 1120px;
}

body #wrap > .qna > .q-box > dl > dt {
  background-color: #fff;
}

body #wrap > .qna > .q-box > dl > dt.on > a,
body #wrap > .qna > .q-box > dl > dt:hover > a {
  color: #454249;
  background-color: #ebe9ff;
}

body #wrap > .qna > .q-box > dl > dt.on > a::after {
  background-image: url(./../images/qna-2.png);
}

body #wrap > .qna > .q-box > dl > dt > a {
  display: block;
  position: relative;
  width: 1120px;
  height: 70px;
  margin: 0 auto;
  color: #65616b;
  font-size: 14px;
  font-weight: 500;
  line-height: 70px;
  text-indent: 30px;
  border-bottom: 1px solid #bbb6f5;
  -webkit-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

body #wrap > .qna > .q-box > dl > dt > a::after {
  display: block;
  position: absolute;
  right: 40px;
  top: 32px;
  width: 13px;
  height: 9px;
  background-image: url(./../images/qna-1.png);
  background-size: cover;
  content: '';
}

body #wrap > .qna > .q-box > dl > dd {
  display: none;
  margin-bottom: 2px;
  line-height: 22px;
  background-color: #fbfbfb;
}

body #wrap > .qna > .q-box > dl > dd > div {
  padding: 40px 38px;
}

body #wrap > .qna > .q-box > dl > dd > div > p {
  font-size: 13px;
}

body #wrap > .qna > .under {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 1120px;
  height: 100px;
  margin-left: -560px;
  background-color: #fff;
}

body #wrap > .qna > .under > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 50%;
  top: 45px;
  color: #454249;
  font-size: 15px;
  font-weight: 500;
  margin-left: -530px;
  letter-spacing: 1px;
}

body #wrap > .qna > .under > span > span {
  display: block;
  width: 20px;
  height: 20px;
}

body #wrap > .qna > .under > span > span > img {
  display: block;
  width: 100%;
  padding-left: 5px;
}

body #wrap > footer {
  width: 100%;
  height: 426px;
  background-color: #ebe9ff;
}

body #wrap > footer > .ft {
  position: relative;
  width: 1280px;
  height: 426px;
  margin: 0 auto;
}

body #wrap > footer > .ft > .deco-f {
  display: block;
  position: absolute;
  right: 0;
  top: 80px;
  width: 47px;
  height: 13px;
  background-image: url(./../images/dort-2.png);
  text-indent: -9999px;
}

body #wrap > footer > .ft > .deco-f2 {
  display: block;
  position: absolute;
  left: 0;
  bottom: 80px;
  width: 93px;
  height: 22px;
  background-image: url(./../images/f-deco.png);
  background-size: cover;
  text-indent: -9999px;
}

body #wrap > footer > .ft > p {
  position: absolute;
  left: 50%;
  top: 193px;
  color: #65616b;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  margin-left: -167px;
}

body #wrap > footer > .ft > h2 {
  position: absolute;
  right: 0;
  bottom: 69px;
  width: 71px;
  height: 38px;
  background-image: url(./../images/logo.png);
  text-indent: -9999px;
}

body #wrap > footer > .ft > address {
  position: absolute;
  left: 50%;
  bottom: 84px;
  color: #bbb6f5;
  font-size: 15px;
  margin-left: -95px;
}
/*# sourceMappingURL=style.css.map */